node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Environment & Secrets
.env
.env.*
!.env.example

# Git & IDEs
.git
.gitignore
.vscode
.idea

# Build outputs & tests
dist
build
coverage